@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: regular;
}
@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins-SemiBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}


:root {
  --mdc-theme-primary: #7B1FA2;
  --mdc-theme-secondary: #FF5722;
  --main-saturation: 25%;
  --main-hue: 100;
  --primary-color: #536DFE;
  --secondary-color: #FF9800;
  --bg-color: #F5F5F5;
  --light-text-color: #FFF;
  --dark-text-color: #333;
  --border-color: #DDD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Poppins", sans-serif;
  letter-spacing: -.008rem;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(86, 94, 109, 1.0);
  padding: 0px;
  height: 100%;
  overflow: hidden; /* In general, it's a good idea to have the body take up the full viewport height and have a fixed layout with no scrollbar. Then, you can have a scrollable inner container like .pane-content to handle the overflow of the content. This approach helps keep the page structure clean and allows you to control the scrolling behavior more effectively. */
  background-image: url('/images/noise.png');
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

.spinning {
  animation: spin-animation 1s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
